<%= render 'layouts/page_header', title: "Refund Policy", subtitle: nil %>

<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <article class="prose lg:prose-md">
    <p>Cannot be refunded.</p>
  </article>
</main>