<li>
  <div class="group overflow-hidden rounded-xl border border-white ring-1 ring-zinc-200 transition-all ease-in-out" role="button">
    <div class="flex items-center justify-center bg-zinc-50 text-xs text-zinc-400 transition-all ease-in-out group-hover:bg-zinc-100 aspect-[2/1]">
      <img alt="Buttons" loading="lazy" width="158" height="51" decoding="async" data-nimg="1" class="w-[10rem]"  src="https://grayscal.es/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbuttons.d9bad5c1.png&w=384&q=95" style="color: transparent;">
    </div>
    <div class="p-4">
      <div class="flex items-center justify-between">
        <h2 class="truncate pb-1 text-sm font-semibold tracking-tight text-zinc-800"><%= heading %></h2>
        <div class="rounded-full border border-blue-200 bg-blue-50 px-2 py-0.5 text-xs font-semibold tracking-tight text-blue-500">
          <p>Available soon</p>
        </div>
      </div>
      <p class="text-sm text-zinc-500"><%= variant_count %> variants</p>
    </div>
  </div>
</li>
