<div class="mx-auto mt-8 max-w-xs md:flex md:max-w-lg md:flex-col md:items-center md:justify-center md:space-y-4 lg:mt-12">
  <div class="flex shrink-0 justify-center -space-x-3 overflow-hidden">
    <img alt="Ana" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fana.png&amp;optimizer=image" class="inline-block h-10 w-10 rounded-full ring-2 ring-gray-100">
    <img alt="Anthony" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fanthony.png&amp;optimizer=image" class="inline-block h-10 w-10 rounded-full ring-2 ring-gray-100">
    <img alt="Ayush" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fayush.png&amp;optimizer=image" class="inline-block h-10 w-10 rounded-full ring-2 ring-gray-100">
    <img alt="Damon" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fdamon.png&amp;optimizer=image" class="inline-block h-10 w-10 rounded-full ring-2 ring-gray-100">
    <img alt="Roberto" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Froberto.png&amp;optimizer=image" class="inline-block h-10 w-10 rounded-full ring-2 ring-gray-100">
    <img alt="Alex MacCaw" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Falex.png&amp;optimizer=image" class="inline-block h-10 w-10 rounded-full ring-2 ring-primary-100">
    <img alt="Tibo" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Ftibo.png&amp;optimizer=image" class="inline-block h-10 w-10 rounded-full ring-2 ring-primary-100">
    <img alt="Corey Haines" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fcorey.png&amp;optimizer=image" class="inline-block h-10 w-10 rounded-full ring-2 ring-primary-100">
    <img alt="Vensy" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Fvensy.png&amp;optimizer=image" class="inline-block h-10 w-10 rounded-full ring-2 ring-gray-100">
    <img alt="Tom" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fimages%2Flanding%2Favatars%2Ftom.png&amp;optimizer=image" class="inline-block h-10 w-10 rounded-full ring-2 ring-primary-100">
  </div>
  <p class="mt-4 text-center text-base text-gray-900 md:mt-0 md:ml-4">
    <span class="block">Join <span class="font-semibold">175+ creators, and new-age startups</span>
    </span>
    <span class="block">and start publishing your content today</span>
  </p>
</div>