<header class="sticky inset-x-0 top-0 z-20">
  <div class="absolute inset-0 opacity-20 blur bg-conic-gradient"></div>
  <div class="relative bg-white/90 py-4 backdrop-blur-lg border-b-zinc-200 border-b">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between">
        <div class="lg:hidden">
          <button type="button" class="inline-flex items-center justify-center rounded-lg border border-gray-300 bg-white p-2 text-gray-700 transition-all duration-200 hover:bg-gray-50 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <line x1="4" y1="6" x2="20" y2="6"></line>
              <line x1="4" y1="12" x2="20" y2="12"></line>
              <line x1="4" y1="18" x2="20" y2="18"></line>
            </svg>
          </button>
        </div>
        <div class="relative z-10 shrink-0">
          <a href="/" title="Feather" class="flex">
            <img alt="Feather Logo" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fbuild%2F_assets%2Flogo-full-W6NCDN3K.svg&amp;optimizer=image" class="block h-8 w-auto">
          </a>
        </div>
        <div class="hidden lg:absolute lg:inset-0 lg:flex lg:items-center lg:justify-center lg:gap-4">
          <a href="/pricing" class="inline-flex items-center rounded-lg border border-transparent px-2 py-1 text-base transition-all duration-200 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-1 focus:ring-gray-300 font-medium text-gray-700">Pricing</a>
          <a href="/showcase" class="inline-flex items-center rounded-lg border border-transparent px-2 py-1 text-base transition-all duration-200 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-1 focus:ring-gray-300 font-medium text-gray-700">Components</a>
          <a href="https://feather.so/help" class="inline-flex items-center rounded-lg border border-transparent px-2 py-1 text-base transition-all duration-200 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-1 focus:ring-gray-300 font-medium text-gray-700">Help Docs</a>
          <a href="https://feather.so/changelog" class="inline-flex items-center rounded-lg border border-transparent px-2 py-1 text-base transition-all duration-200 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-1 focus:ring-gray-300 font-medium text-gray-700">Changelog</a>
        </div>
        <div class="relative z-10 flex items-center gap-x-3">
          <div class="hidden sm:block">
            <%= link_to 'Login', new_user_session_path, class: 'inline-flex h-10 items-center justify-center rounded-xl border border-gray-300 px-4 py-2 text-base font-semibold text-gray-900 transition-all duration-200 hover:border-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-2' %>
          </div>
          <a href="/pricing" class="inline-flex h-10 items-center justify-center gap-1.5 rounded-xl border border-transparent bg-primary-900 px-4 py-2 text-base font-semibold text-white transition-all duration-200 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-gray-900 focus:ring-offset-2">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</header>